.navbar {
    overflow: hidden;
    background-color: rgb(204, 200, 200);
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
}
  
.navbar a, .footer a {
    float: right;
    display: block;
    color: rgb(75, 146, 139);
    text-align: center;
    padding: 25px 2vw;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover, .footer a:hover {
    background: #333;
    color: #f2f2f2;
}

#logo {
    height: 60px;
    padding: 0vw 0vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(204, 200, 200);
    color: white;
    text-align: center;
}